[Desktop Entry]
Type=Application
Exec=@misc-scripts@/battery-notify
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Battery Watchdog
Comment[en_US]=Monitor battery level and display notifications.
X-GNOME-Autostart-Delay=0
X-GNOME-Autostart-enabled=true
